#tableList {
    background: #fff;
	padding: 0;
	overflow: hidden;
    .t-right {
        text-align: right;
    }

    .t-center {
        text-align: center;
    }
    .t-left {
        text-align: left;
    }
	.main-page {
		//overflow-y:scroll;
		height:100%;
		padding: 0 20px;
		&.hideSearch{
			padding-top: 20px;
		}
		h4 {
			margin: 15px 0;
		}
		.el-button{
			&+.el-button{
				margin-left: 5px;
			}
		}
	}
	&>div{
		//position: relative;
		&:after {
			content: ' ';
			display: inline-block;
			clear: both;
		}
	}
	a{
		color: #20a0ff;
		cursor: pointer;
		&:hover{
			text-decoration: underline;
		}
	}
	.el-table{
		.gray{
			background-color: #f3f3f3;
		}
	}
}

